# 01. intro

### shortcut
- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 후 아래로 이동
- alt + enter : 현재 셀 실행 후 새로운 셀 추가
- DD : 셀 삭제

### 주의사항
1. Apple / apple
2. git add . / gitt add.
3. message / massage

In [5]:
# 주석

## 1. 변수
변수이름 = 값

- 변수 이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드 사용 불가

In [9]:
a = 30

In [10]:
a

30

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [13]:
seoul_dust_rate = 10

### 1.1 Number
- int
- float
- complex

In [15]:
a = 100000

In [16]:
a

100000

In [17]:
type(a)

int

In [18]:
b = 1.1

In [19]:
type(b)

float

In [20]:
c = 1 -4j

In [21]:
type(c)

complex

### 1.2 Boolean
- True, False로 이루어진 타입

In [22]:
a = True

In [23]:
type(a)

bool

In [24]:
b = False

In [25]:
type(b)

bool

### 1.3 None
- 아무것도 없는 것도 결국 '정보' 중 하나

In [26]:
a = None

In [27]:
type(a)

NoneType

### 1.4 String
- 문자의 나열
- 문자열은 `''`, `""`를 이용하여 표현
- escape`\`을 통해 문자열 입력 한계 해결

In [29]:
a = 'hello'

In [30]:
type(a)

str

In [31]:
b = "word"

In [32]:
type(b)

str

In [36]:
age = input()
print(age)
print(type(age)) #input의 결과물은 항상 'str'

 123

123
<class 'str'>

In [40]:
# print('안녕하세요 '은수'에오')
print("안녕하세요 '은수'에오")
print('안녕하세요 "은수"에오')

안녕하세요 '은수'에오
안녕하세요 "은수"에오

In [41]:
print('안녕하세요.\'은수\'에오.')

안녕하세요.'은수'에오.

In [46]:
a = '''
안녕하세요.은수에오
여러 줄의 데이터를 한번에 작성할때 doc string을 사용함.
'''
print(a)

안녕하세요.은수에오
여러 줄의 데이터를 한번에 작성할때 doc string을 사용함.

In [49]:
print('안녕하세요 \n은수에오. \t반갑습니다')

안녕하세요
은수에오. 	반갑습니다

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [50]:
age = 10

In [51]:
print('은수는 %s살입니다' %age)

은수는 10살입니다

In [53]:
print('은수는 {}살입니다'.format(age))

은수는 10살입니다

In [54]:
print(f'은수는 {age}살입니다')

은수는 10살입니다

## 2. 연산자

### 2.1 산술연산자

In [147]:
a = 10
b = 3

In [149]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b) 

print(divmod(a,b)) # 몫과 나머지 함께 출력

13
7
30
3.3333333333333335
1000
3
1
(3, 1)

In [151]:
result = divmod(a,b)
print(type(result))
print(result[0] + result[1])

<class 'tuple'>
4

### 2.2 비교연산자

In [63]:
a = 5
b = 10

In [64]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False

In [69]:
print(a == b)
print(a != b)

False
True

In [72]:
print('hi' == 'hi')
print("hi" == 'hi')
print("Hi" == 'hi') # 비교연산자는 글자도 가능

True
True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일 때 True 반환
- or : 양쪽 모두 False일 때 False를 반환(=둘 중 하나가 True일 경우 True를 반환)
- not : 값을 반대로 전환

In [74]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [75]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [78]:
print(not True)
print(not False)

False
True

In [80]:
# 단축평가(and) *이거 좀 어려움
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [81]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

### 3.4 복합연산자

In [83]:
a = 1
b = 2

In [86]:
print(a += b)
print(a -= b) 
a *= b
a /= b

### 2.5 기타 연산자

In [90]:
a = 'hi'
b = 'helllo'

In [91]:
# concatenation
print(a + b)

hihelllo

In [92]:
# containment
a = [1 ,2, 5]
print(1 in a)

True

In [98]:
# identity
a = 256
b = 256
print(a == b)
print(a is b)

True
False

In [96]:
a = 123123
b = 123123
print(a == b)
print(a is b) #메모리값의 차이로 인해 다른걸로 인정

True
False

#### 우선순위

0. ()을 통해 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자 in, is
5. not
6. and
7. or

In [99]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환
### 3-1. 암시적 형변환

In [100]:
a = True
b = False
c = 1

In [102]:
print(a+b) #알아서 True를 1, False를 0으로 인식
print(b-c)

1
-1

In [106]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [108]:
print(int_num + float_num)
print(type(int_num + float_num))

6.3
<class 'float'>

### 3-2. 명시적 형변환
- int() : string, float => int
- float() : string, int => float
- str() : int, float => str
- bool() : string, int, list => bool

In [123]:
a = 1
b = 'a'
print(str(a) + b)

1a

In [127]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [129]:
a = 'a'
# print(int(a))

In [131]:
a = '3.3'
#print(int(a))
print(float(a))

3.3

In [133]:
a = 1
b = 0
print(bool(a))
print(bool(b))

True
False

In [136]:
print(bool([]))
print(bool([1,2,3]))

False
True

## 4. 시퀀스 자료형
- 시퀀스는 데이터의 '순서'대로 나열된 자료구조
- 순서대로 나열되었다는 것은 '정렬'된 것과 다르다!

1. List
2. Tuple
3. Range
4. String

### 4.1 List(배열)
- 선언 : 변수이름 = [ value1, value2, value3 ]
- 접근 : 변수이름[ index ]

In [138]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [142]:
location = [ '서울', '대전', '부산']
print(location)
print(location[0])
# print(location[3])

location[1] = '광주'
print(location)

['서울', '대전', '부산']
서울
['서울', '광주', '부산']

### 4.2 Tuple(튜플)
- 선언 : 변수이름 = ( value1, value2, value3 )
- 접근 : 변수이름[ index ]
- 리스트와 유사하지만 수정불가능(imutable)이다. 새로운 값으로 할당 불가능

In [144]:
numbers = ( 1,2,3 )
print(numbers)
print(numbers[0])

(1, 2, 3)
1

In [153]:
x,y = (1,2)  #(x,y) = (1,2) / '튜플'로 전제
print(x,y)

x,y = y,x
print(x,y)

1 2
2 1

### 4.3 Range
- Range(n) : 0부터 n-1까지
- Range(n, m) : n부타 m-1까지
- Range(n, m, s) : n부터 m-1까지 +s만큼 증가
- Range는 범위이기 때문에 숫자 하나하나를 세부적으로 볼 수 x

In [158]:
lotto = [1,2,3,4,5]
lotto = range(45)
print(list(lotto))  #꼭 list로 형변화를 해주어야 개별 숫자를 볼 수 O

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [166]:
even = list(range(2,45,2))
print(even)

odd = list(range(1,45,2))
print(odd)

numbers = list(range(45,1,-2))
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]
[45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3]

### 4.4 String
- 기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [169]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1,6)
my_string = '12345'

In [170]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
1
1
1

In [177]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3]) # range(2,4) = 2,3
print(my_string[1:3])
print(my_string[1:3:2])

[2, 3]
(2, 3)
range(2, 4)
23
2

In [183]:
# in
print('1'in my_string)
print(1 in my_list)
print(1 in my_range)

# not in 
print(1 not in my_list)
print(7 not in my_range)

True
True
True
False
True

In [191]:
# concatenation
print(my_list + [6,7,8,9,10])
print(my_tuple + (6,7,8,9,10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [194]:
# *
print('#' * 10)
print([0] * 10)

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [199]:
print(len(my_list))
print(max(my_list))
print(min(my_range))

5
5
1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일한 개념

- 선언 : 변수이름 = { value1, value2, value3 }
- 중복값이 없음.

In [203]:
my_set_a = { 1, 3, 5, 7, 9 }
my_set_b = { 1, 2, 3, 4, 5 }

In [206]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [207]:
test_set = { 1,2,3,4,1,3,4,5,6,1,2,3,4,5 }
print(test_set) # 중복값은 모두 제거

{1, 2, 3, 4, 5, 6}

### 5.2 Dictionary
- 선언 : 변수이름 = { key1 : value1, key2 : value2, key3 : value 3 }
- 접근 : 변수이름[ key ]

In [214]:
my_dict = {'서울': 2, '대전': '03', '부산': '04'}
print(my_dict)

{'서울': 2, '대전': '03', '부산': '04'}

In [217]:
my_info = {
    'name' : 'changhee',
    'height' : '123',
    'location' : 'seoul',
    'age' : 10
}
print(my_info)
print(my_info['location'])

{'name': 'changhee', 'height': '123', 'location': 'seoul', 'age': 10}
seoul

In [222]:
print(my_info.keys())
print(my_info['location'])

dict_keys(['name', 'height', 'location', 'age'])
seoul