# 제어문

## 조건문 (if문)

1. if문은 반드시 일정한 '참/거짓'을 판단할 수 있는 '조건식'과 함께 사용된다. (`if<조건식>:`)
2. `<조건식>` 참(True)인 경우 : 이후의 문장을 실행
3. `<조건식>` 거짓(False)인 경우 : else 이후의 문장을 실행

```
if <조건식> :
    if의 조건식이 참인 경우 실행
else :
    if의 조건식이 거짓인 경우 실행
```

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스에오')
else:
    print('크리스마스가 아니에오')

 12/25

크리스마스에오

In [5]:
my_number = input('숫자를 입력해줘')

#result = int(my_number) % 2
if int(my_number) % 2 == 0:
    print('짝수에오')
else:
    print('홀수에오')

###
if bool(result):
    print('홀수에오')
else:
    print('짝수에오')
###

숫자를 입력해줘 123

홀수에오

### elif
```
if <조건식>:
    if 조건이 참인 경우
elif <조건식>:
    elif 조건이 참인 경우
...
else:
    위의 조건식이 하나도 부합하지 않는 경우
```

In [12]:
score = int(input())

 94

In [13]:
# 90점 이상 A
# 80~89 B
# 70~79 C
# 나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79:
    print('C')
else:
    print('F')

A

In [17]:
if score >= 90:
    if score >= 95:
        print("A+")
    else:
        print("A")
elif score >= 80:
    print("B")

A

### 조건표현식

```
true_value if <조건식> else false_value
```

In [19]:
print('True') if 1 < 0 else print('False')

False

In [20]:
num = 5
value = num if num >=0 else 0
print(value)

5

In [22]:
num = 5
if num>=0:
    value = num
else:
    value = 0
print(num)

5

In [26]:
num = 2
result = '홀수' if num %2 else '짝수'
print(result)

짝수

# 반복문 

### while문 
```
while <조건식> :
    실행할 코드
```

In [1]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [3]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 하이
안녕이라고 말해줘 안녕

### For문
정해진 범위 내의 반복
```
for variable in sequence:
    실행할 코드

In [4]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [5]:
word = input('단어를 입력하세요')

단어를 입력하세요 apple

In [6]:
for char in word:
    print(char)

a
p
p
l
e

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [10]:
for i in range(1,31):
    if i%2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [13]:
# enumerate : 인덱스값이 중요할 때 사용
menus = ['라면','돈까스','떡볶이','덮밥','냉면']
for menu in enumerate(menus):
    print(menu)

for index, menu in enumerate(menus):
    print(index)
    print(menu)

(0, '라면')
(1, '돈까스')
(2, '떡볶이')
(3, '덮밥')
(4, '냉면')
0
라면
1
돈까스
2
떡볶이
3
덮밥
4
냉면

### Dictionary 반복
- 시퀀스는 아니지만 따로 추출한 key 목록은 시퀀스에 해당
1. for key in dict
2. for value in dict.keys():
3. for key in dict.values():
4. for key, value in dict.items():

In [15]:
info = {
    'name': '이동식',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 30,
}

In [18]:
for category in info:
    print(category,info[category])

name 이동식
location seoul
phone 010-1234-1234
age 30

In [23]:
for key in info.keys():
    print(key)
    print(info[key])

name
이동식
location
seoul
phone
010-1234-1234
age
30

In [25]:
# info.values()
for value in info.values():
    print(value)

이동식
seoul
010-1234-1234
30

In [28]:
for key,value in enumerate(info.items()):
    print(key,value)

0 ('name', '이동식')
1 ('location', 'seoul')
2 ('phone', '010-1234-1234')
3 ('age', 30)

In [29]:
blood_type = {
    'A': 5,
    'B': 3,
    'O': 2,
    'AB': 2,
}

In [33]:
# 혈액형의 종류는 ?? ?? 입니다.
print('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')
print('가 있습니다.')

혈액형의 종류는 A B O AB 가 있습니다.

In [52]:
# 총 학생 수는 ?명입니다.
sum = 0
for value in blood_type.values():
    sum = sum+value
print(f'총 학생 수는 {sum}명입니다')

총 학생 수는 12명입니다

### Break
반복문을 종료시키는 키워드

In [53]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [56]:
rice = ['보리', '보리', '보리', '쌀', '보리']

for i in rice:
    print(i)
    if i=='쌀':
        print('잡았다')
        break

보리
보리
보리
쌀
잡았다

In [59]:
i=0
while True:
    print(rice[i])
    i = i+1
    if rice[i]=='쌀':
        print(rice[i])
        print('잡았다')
        break

보리
보리
보리
쌀
잡았다

### Continue
continue 이후의 코드를 실행하지 않고 반복을 진행 (=skip)

In [60]:
for i in range(20):
    if i%2:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [63]:
ages = [10, 20, 38, 82, 11, 30, 91]    #성인일 경우에만 출력
for i in ages:
    if i<20:
        continue
    print(f'{i}살은 성인입니다')

20살은 성인입니다
38살은 성인입니다
82살은 성인입니다
30살은 성인입니다
91살은 성인입니다

### else
else문은 끝까지 반복된 후에 실행, break와 연결해서 사용
else문은 break를 만나지 않았을 때 실행

In [66]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('else입니다')

0
1
2
3
4
5

### pass

In [67]:
if True:
    pass

### match
어떤 특정한 값과 완전 일치하는 값을 찾고 싶은 경우
```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [68]:
status = 404

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('idk')

bad