In [1]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# 문자열 메소드

In [5]:
a = 'hello my name is Cho'
a[0] = 'H' # immutable 객체이기 때문에 수정 불가능

b = 'welcome to Korea'
b[11:] = 'Japan'

TypeError: 'str' object does not support item assignment

In [5]:
print(a)

hello my name is Cho

In [8]:
a[0] = 'H'    # immutable 객체이기 때문에 수정 불가능

TypeError: 'str' object does not support item assignment

In [9]:
a.capitalize()

'Hello my name is cho'

In [10]:
a.title()    # 모든 단어의 첫글자를 대문자로 변환

'Hello My Name Is Cho'

In [11]:
a.upper()    # 모든 글자를 대문자로 변환 <-> a.lower()

'HELLO MY NAME IS CHO'

In [12]:
a.lower()

'hello my name is cho'

In [16]:
# a = a.upper()
print(a)    # 변화한 값을 a에 다시 재할당해주기

hello my name is Cho

In [19]:
my_list = ['my','name','is']
' '.join(my_list)

'my name is'

In [7]:
my_string = '                hello    \n'
print(my_string)
print(my_string.strip())

my_string2 = "-----------------hello----"
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))

                hello

hello
hello
hello----

In [35]:
a = 'woooooooooooooow'
a.replace('o','?')

'w??????????????w'

In [39]:
a = 'apple'
print(a.find('a'))
print(a.find('l'))
print(a.find('k'))

0
3
-1

In [44]:
a = 'apple'
print(a.index('p'))
print(a.index('k'))    # 데이터가 없을 경우 error 출력, find와의 차이점

1

ValueError: substring not found

In [48]:
a = 'my_name_is_Cho'
print(a.split('_'))

['my', 'name', 'is', 'Cho']

In [52]:
a = 'woooooooo'
print(a.count('w'))

1

# 리스트 메소드

In [54]:
numbers = [1,4,3,6,8,19]

In [55]:
numbers.append(10)
print(numbers)

[1, 4, 3, 6, 8, 19, 10]

In [57]:
a = [99,100]
numbers.extend(a)
print(numbers)    # list는 mutable하기 때문에 굳이 변수 재할당을 하지 않아도 됨.

[1, 4, 3, 6, 8, 19, 10, 99, 100]

In [62]:
numbers.insert(5,-10)
print(numbers)

[-10, 1, 4, -10, 10, -10, 10, 3, 6, 8, 19, 10, 99, 100]

In [70]:
numbers.remove(10)    # x를 찾아서 제거 but 없을 경우 에러 발생
print(numbers)

ValueError: list.remove(x): x not in list

In [72]:
numbers.pop()    # stack의 pop이라고 생각! 가장 나중값을 빼낸다. 
print(numbers)

result = numbers.pop(0)    # queue의 pop이라고 생각, pop의 경우 뽑아온 변수를 return하는 기능!
print(numbers, result)

[1, 4, 3, 6, 8, 19]
[4, 3, 6, 8, 19] 1

In [74]:
numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[3, 4, 6, 8, 19]
[19, 8, 6, 4, 3]

In [82]:
numbers2 = [3,6,1,2,5,9]
numbers2 = sorted(numbers2)    # sorted는 결과값만 리턴되기 때문에 변수 재할당을 해줘야 함. 
print(numbers2)

numbers3 = ['b','s', 'd', 'f','z','a']
numbers3.sort()
print(numbers3)

numbers4 = ['1','b','a',2,4,'g']    # 섞어서는 정렬 못하넹;;
numbers4.sort()
print(numbers4)

[1, 2, 3, 5, 6, 9]
['a', 'b', 'd', 'f', 's', 'z']

TypeError: '<' not supported between instances of 'int' and 'str'

In [85]:
numbers = [1,5,2,7,4,6,11]
numbers.sort(reverse = True)
print(numbers)
numbers.reverse()
print(numbers)

[11, 7, 6, 5, 4, 2, 1]
[1, 2, 4, 5, 6, 7, 11]

In [89]:
print(numbers)
print(numbers[0])
print(numbers[1:3])
print(numbers[6])    # 가장 뒷글자
print(numbers[-1])   # 가장 뒷글자
print(numbers[::-1]) # 뒤에서부터 출력, reverse와 동일

[1, 2, 4, 5, 6, 7, 11]
1
[2, 4]
11
11
[11, 7, 6, 5, 4, 2, 1]

## list

In [92]:
origin_list = [1,2,3,4,5]
copy_list = list.copy(origin_list)    # 두 리스트 객체의 주소값이 같음! 
# copy_list = origin_list
print(copy_list)

[1, 2, 3, 4, 5]

In [93]:
print(origin_list)
print(copy_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [95]:
origin_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [103]:
# 주소값을 다르게 설정해 복사하는 방법
origin_list = [1,2,3]
copy_list = origin_list[:]

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [104]:
origin_list = [1, 2, 3, [4, 5], 6]
origin_list[0] = 100
origin_list[3][1] = 7
print(origin_list)
print(copy_list)

[100, 2, 3, [4, 7], 6]
[1, 2, 3]

In [106]:
import copy
origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

## list comprehension

In [110]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
# => [1, 8, 27, .... 1000]

new_numbers = []
for number in numbers:
    new_numbers.append(number**3)

print(new_numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [113]:
new_numbers = [number ** 3 for number in numbers]
print(new_numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [114]:
# 짝수만 고르기
result = []
for number in numbers:
    if number % 2:
        continue
    else:
        result.append(number)

print(result)

[2, 4, 6, 8, 10]

In [116]:
result = [number for number in numbers if number%2 == 0]
print(result)

[2, 4, 6, 8, 10]

In [148]:
# 연습연습~
words = 'my name is hong'

# 모음을 제거
# 우선 문자열이 mutable객체가 아님. 

for i in words:
    if i not in ['a','e','i','o','u']:
        print(i,end='')

# result = [words.remove(i) for i in words if i in ['a','e','i','o','u']]
# print(result)
print('\n---------------------')

result = [text for text in words if text not in ['a','e','i','o','u']]
print(result)       

# str 객체라서 remove를 쓸 수 없다면서 왜 결과는 리스트 형태로 출력되는거임...?

my nm s hng
---------------------
['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']

In [160]:
# 정답
words = 'my name is hong'
#=> ny nm s hng

# 1. for/if
# vowels = ['a','e','i','o','u']
vowels = 'aeiou'
result = []

for char in words:
    if char not in vowels:
        result.append(char)
        
print(result)
print(''.join(result))

# 2. list comprehension
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(''.join(result))     # .join(iterable)

# 3. list method
vowels = 'aeiou'
for char in vowels:
    if char in words:
        words = words.replace(char,'')    # 문자열은 mutalbe하기 때문에 변수에 재할당해줘야 함. 

print(words)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng
my nm s hng
my nm s hng

# Dictionary 메소드

In [175]:
info = {
    'name' : '조은슈',
    'location': 'seoul',
    'age' : '23',
    'models' : ['iphon','macBook','applewatch'],
    'job'  : {
        'domain' : 'media',
        'duty' : 'data analysis'
    }
}

print(info)

{'name': '조은슈', 'location': 'seoul', 'age': '23', 'models': ['iphon', 'macBook', 'applewatch'], 'job': {'domain': 'media', 'duty': 'data analysis'}}

In [165]:
print(info['name'])
print(info['age'])
print(info['models'][0])
print(info['job']['domain'])

조은슈
23
iphon
media

In [173]:
info['name'] = '정세즨'
info.update(name='세지니')
print(info)

{'name': '세지니', 'location': 'seoul', 'models': ['iphon', 'macBook', 'applewatch'], 'job': {'domain': 'media', 'duty': 'data analysis'}}

In [176]:
age = info.pop('age')
print(info,age)

{'name': '조은슈', 'location': 'seoul', 'models': ['iphon', 'macBook', 'applewatch'], 'job': {'domain': 'media', 'duty': 'data analysis'}} 23

In [180]:
info.get('name')
print(info['name'])

조은슈

In [183]:
# print(info['birth'])    # 에러발생
print(info.get('birth'))  # None 출력

None

In [188]:
# 연습문제
blood_type = ['A','B','B','O','AB','A']

# => blood_dict

blood_dict= {
    'A' : 0,
    'B' : 0,
    'O' : 0,
    'AB' : 0
}

for key in blood_type:
    blood_dict[key]+=1

print(blood_dict)

{'A': 2, 'B': 2, 'O': 1, 'AB': 1}

In [202]:
locations = ['서울','충주','대전','대구','보스턴','오키나와','LA','서울']

result = {}

for loc in locations:
    # dict에 key,count값 생성
    result.update({ loc : locations.count(loc) })
print(result)

result = {}
for location in locations:
    # result의 key에 location이 있으면
    if result.get(location):
        result[location] += 1

    # result의 key에 location이 없으면
    else:
        result[location] = 1

print(result)

{'서울': 2, '충주': 1, '대전': 1, '대구': 1, '보스턴': 1, '오키나와': 1, 'LA': 1}
{'서울': 2, '충주': 1, '대전': 1, '대구': 1, '보스턴': 1, '오키나와': 1, 'LA': 1}

## Dictionary Comprehension

In [205]:
# {1: 1, 2:8, 3:27, ... 10:1000}

result = {}
numbers = list(range(1,11))

for number in numbers:
    result[number] = number ** 3
    
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [206]:
result = {number:number **3 for number in numbers }
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [211]:
dust = {
    '서울': 50,
    '인천': 100,
    '대전': 130,
    '대구': 10,
    '부산' : 70,
    '광주' : 84,
}

# result = {'대전': 100, '광주': 90}
result = {}
for key,value in dust.items():
    if value > 75:
        result[key] = value
print(result)

result = {key:'나쁨' for key,value in dust.items() if value>75}
print(result)

{'인천': 100, '대전': 130, '광주': 84}
{'인천': '나쁨', '대전': '나쁨', '광주': '나쁨'}

# 세트 메소드

In [232]:
fruits = {'apple','banana','melon'}

In [233]:
print(fruits)

{'banana', 'apple', 'melon'}

In [234]:
fruits.add('watermelon')
print(fruits)

{'banana', 'apple', 'melon', 'watermelon'}

In [236]:
# list의 extend와 비슷한 역하 , 수정보다는 추가의 의미
fruits.update({'grape','orange'})
print(fruits)

{'melon', 'watermelon', 'grape', 'banana', 'apple', 'orange'}

In [243]:
fruits.remove({'watermelon','banana'})    # 두개 이상의 데이터는 삭제 불가, 단일 삭제만 가능
print(fruits)

KeyError: {'banana', 'watermelon'}

# map, filter, zip

### map
- map(function, iterable)

In [246]:
numbers = [1, 2, 3, 4, 5]
# => ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5']

In [249]:
result = map(str,numbers)
print(result)         # 메모리 주소 출력 
print(list(result))   # 원하던 list 객체 출력

<map object at 0x00000160041F4A30>
['1', '2', '3', '4', '5']

In [250]:
result = []
for number in numbers:
    result.append(number**3)
print(result)

[1, 8, 27, 64, 125]

In [254]:
def cube(i):
    return i ** 3
    

result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

In [257]:
test_input = '1 3 5 7 9'
result = []

print(list(map(int, test_input.split())))

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)

In [258]:
def is_odd(x):
    return x % 2

In [263]:
numbers = [1, 2, 3, 4, 5]
result = []
for number in numbers:
    if number % 2:
        result.append(number)
print(result)

print(list(filter(is_odd, numbers)))

[1, 3, 5]
[1, 3, 5]

## zip

In [264]:
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a,b)
print(list(result))    # 길이가 다를 때 앞에서 쌍이 맞는 친구들만 그룹핑

[(1, 100), (2, 200), (3, 300)]