## Syntax Error

In [3]:
if True:
    pass 
else

SyntaxError: expected ':' (1377500327.py, line 3)

In [5]:
if True print('hi')

SyntaxError: invalid syntax (3767511997.py, line 1)

## Exception

In [7]:
print(5/0)

ZeroDivisionError: division by zero

In [8]:
print(hello)

NameError: name 'hello' is not defined

In [10]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [15]:
import random
random.sample([1,2,3,4,5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [17]:
random.sample([1,2,3,4,5],1,2,3,4,5)

TypeError: Random.sample() takes 3 positional arguments but 7 were given

In [19]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [21]:
numbers = [1,2,3]
numbers.index(4)

ValueError: 4 is not in list

In [23]:
numbers[100]

IndexError: list index out of range

In [25]:
my_dict = {
    'apple' : '사과',
    'banana' : '바나나',
}

In [27]:
my_dict['멜론']

KeyError: '멜론'

In [28]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [29]:
import pandas

ModuleNotFoundError: No module named 'pandas'

## 예외 처리

```python
try:
    code
except 예외:
    code
```

In [34]:
try:
    num = int(input('숫자를 입력해주세요.'))            # 숫자가 아닌 str형이 입력된 상태
    print(f'{num}의 세제곱은 {num ** 3}입니다.')
except:
    print('문자가 아닌 숫자를 입력해주세요')

숫자를 입력해주세요. 2

2의 세제곱은 8입니다.

In [37]:
try:
    num = int(input('100을 무엇으로 나누시겠습니까?'))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')

except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누시겠습니까? 0

모든 수는 0으로 나눌 수 없습니다.

In [42]:
try:
    my_list = [1,2,3]
    print(my_list[100])

except IndexError as err:
    print('out of index')
    print(err)

out of index
list index out of range

In [45]:
try:
    numbers = [1,2,3]
    num = numbers[100]
except:
    print('오류입니다.')
else: # else => 예외를 일으키지 않을 때 실행되는 코드 
    print(num ** 3)

오류입니다.

In [47]:
try:
    numbers = [1,2,3]
    num = numbers[100]
except:
    print('오류입니다.')
finally: # => 중간에 에러가 발생하든 안하든 실행
    print('end')

오류입니다.
end

In [53]:
def my_div(num1, num2):
    try:    
        return num1 / num2
    except (ValueError, TypeError):
        return '숫자를 입력하세요.'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다.'
    except:
        return '무엇인가 잘못되었어요.'

print(my_div('안',0))

숫자를 입력하세요.