# 문자열 메소드

In [9]:
b = ['welcome','to','Korea']

for i in b:
    i = i.upper()
    print(i)

WELCOME
TO
KOREA

In [18]:
b = "welcome to Korea~!~!"
print(b.replace("~!",""))

welcome to Korea

In [22]:
c = "welcome to Las Vegas"
print(c.find("l"))
print(c.index("o"))

2
4

In [23]:
d = "welcome-!to-!Vancouver"
print(d.split("-!"))

['welcome', 'to', 'Vancouver']

# 리스트 메소드

In [31]:
numbers = [36,23,36,74,11]
numbers.insert(1,32)
print(numbers)

[36, 32, 23, 36, 74, 11]

In [33]:
my_age = numbers.pop(2)
print(my_age)

36

In [35]:
numbers.sort(reverse = True)
print(numbers)

[74, 36, 32, 11]

In [36]:
numbers = [23,15,85,23,46,26,11,2,1,3]
print(numbers[::-1])

[3, 1, 2, 11, 26, 46, 23, 85, 15, 23]

# 리스트의 복사

In [42]:
import copy 

origin_list = [5,6,7,8,9]
copy_list = origin_list
copy_list2 = list.copy(origin_list)
copy_list3 = copy.deepcopy(origin_list)

origin_list[0] = 3
print(copy_list)
print(copy_list2)
print(copy_list3)

[3, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

# 리스트 컴프리헨션

In [45]:
numbers = [1,2,3,4,5]

new_num = [number**3 for number in numbers ]
print(new_num)

result = []
for i in new_num:
    if i%2 == 0:
        result.append(i)

result = [i for i in new_num if i%2==1]
print(result)

[1, 8, 27, 64, 125]
[1, 27, 125]

In [47]:
words = 'my name is hong'

# => y ae i o (이번에는 모음만 남겨보기)

result = []
for char in words:
    if char in 'aeiou':
        result.append(char)

print(''.join(result))

aeio

# 딕셔너리 메소드

In [57]:
info = {
    'name' : '이콩콩일',
    'date' : 202405,
    'people' : 50,
    'field' : 'running',
    'age' : 23
}

In [58]:
info['people'] = 60
info.update(field = '러닝')
print(info.get('field'))
print(info)
print(info.pop('age'))

러닝
{'name': '이콩콩일', 'date': 202405, 'people': 60, 'field': '러닝', 'age': 23}
23

In [61]:
mbti_type = ['INFJ','ESTP','INTP','ENFP','ISTP','ISFJ','INFP','ENFP']

mbti_dict = {
    'INFJ' : 0,
    'ESTP' : 0,
}
for mbti in mbti_type:
    mbti_dict[mbti]+=1

print(mbti_dict)

KeyError: 'INTP'

In [ ]:
locations = ['서울','충주','대전','대구','보스턴','오키나와','LA','서울']
result = {}

r

# Random

In [66]:
import random

# print(random.seed(123))
print(random.random())
print(random.randint(1,10))

numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

print(random.choice(numbers))
print(random.choice(numbers))
print(random.sample(numbers,3))

0.13472760063663358
4
[5, 4, 2, 3, 1]
3
3
[5, 1, 2]

## Datetime

In [78]:
from datetime import datetime
from datetime import timedelta

print(datetime.now())
print(datetime.today())

now = datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.weekday())

future = timedelta(days=3)
print(now-future)

# 새해까지 몇일 남았는지 계산
new_year = datetime(2025,1,1)
now = datetime.now()
print(new_year - now)

2024-07-02 16:47:01.662017
2024-07-02 16:47:01.662017
2024-07-02 16:47:01.662017
2024
7
1
2024-06-29 16:47:01.662017
182 days, 7:12:58.337983

# 라이브러리

In [99]:
# 로또 당첨 번호 추출하기
import requests
import pprint

lotto_url = "https://www.dhlottery.co.kr/common.do?"
params = {
    "method" : "getLottoNumber",
    "drwNo" : 1126,   
}

r = requests.get(lotto_url, params=params)
r_txt = r.json()
answer = []
answer_bn = r_txt['bnusNo']

for i in range(1,7):
    answer.append(r_txt[f'drwtNo{i}'])

print('로또 당첨번호 :',answer)
print('보너스 당첨번호 : ',answer_bn)

# 랜덤번호 생성
choice_set = {}
for j in range(1,6):
    choice_num = random.sample(range(1,45),6)
    choice_set[f'{j}회차'] = choice_num
    # choice_set[f'{j}회차'] = [4,5,9,11,40,7]
pprint.pp(choice_set)

# 당첨번호와의 비교
for try_num in choice_set.values():
    set_try = set(try_num)
    set_answer = set(answer)
    match_count = len(set_try & set_answer)

    if match_count == 6:
        print("1등입니다.")
    elif match_count == 5 and answer_bn in try_num:
        print("2등입니다.")
    elif match_count == 5:
        print("3등입니다.")
    elif match_count == 4:
        print("4등입니다.")
    elif match_count == 3:
        print("5등입니다.")
    else:
        print("꽝입니다.")

로또 당첨번호 : [4, 5, 9, 11, 37, 40]
보너스 당첨번호 :  7
{'1회차': [4, 5, 9, 11, 40, 7],
 '2회차': [4, 5, 9, 11, 40, 7],
 '3회차': [4, 5, 9, 11, 40, 7],
 '4회차': [4, 5, 9, 11, 40, 7],
 '5회차': [4, 5, 9, 11, 40, 7]}
2등입니다.
2등입니다.
2등입니다.
2등입니다.
2등입니다.

# Error

In [101]:
# SyntaxError
if True:
    pass
else

SyntaxError: expected ':' (3151955463.py, line 4)

In [102]:
# SyntaxError
if True print('hi')

SyntaxError: invalid syntax (1137550420.py, line 2)

In [104]:
# ZeroDivisionError
print(5/0)

ZeroDivisionError: division by zero

## 예외 처리

In [107]:
try:
    num = int(input("무엇으로 나누시겠습니까?"))
except ValueError:
    print("숫자를 입력하세요.")
except ZeroDivisionError:
    print("모든 수는 0으로 나눌 수 없습니다.")
finally:
    print("수고하셨습니다.")

무엇으로 나누시겠습니까? 2

수고하셨습니다.

In [1]:
try:
    numbers = [1,2,3]
    num = numbers[1]

except:
    print('오류입니다.')
else:
    print(num**3)
finally:
    print('수고하셨습니다')

8
수고하셨습니다

## 클래스

In [13]:
# 잔액 구하기
class Account():
    def __init__(self, name, income):
        self.name = name
        self.income = income

    def deposit(self,money):
        self.income = self.income + money
        return f'{money}원 저금하셨습니다. 현재 잔액은 {self.income}원입니다.'


    def withdraw(self,money):
        self.income = self.income - money
        return f'{money}원 지출하셨습니다. 현재 잔액은 {self.income}원입니다.'


    def getIncome(self):
        return f'현재 잔액은 {self.income}원입니다.'

In [14]:
act_a = Account('조은수',10000000) 
act_a.deposit(500000)

'500000원 저금하셨습니다. 현재 잔액은 10500000원입니다.'

## 상속

In [17]:
class MyClass():
    def instance_method(self):
        return self

    @classmethod
    def class_method(self):
        return cls

    @staticmethod
    def static_method():
        return "hello"

In [19]:
c1 = MyClass()
print(c1.instance_method())
print(MyClass.class_method)

<__main__.MyClass object at 0x000001E117C5DCD0>
<bound method MyClass.class_method of <class '__main__.MyClass'>>

In [ ]:
class Pocketmon():
    def __init__(self, name):
        self.name = name
        self.level = 10
        self.hp = self.level * 5
        self.exp = 0

    def attack(self, opponent):
        damage = self.level    # 레벨만큼 공격
        opponent.hp = opponent.hp - damage 
        if opponent.check_hp():
            self.exp += 5

    def check_hp(self):       # 남은 체력 확인
        return True if self.hp <= 0 else False


class WaterType():
    type_name = 'water'    # type_name이라는 변수 생성

class FireType():
    type_name = 'fire'

class WaterPocketmon(Pocketmon, WaterType):    # Pocketmon 상속
    def water_attack(self, opponent):
        if opponent.type_name == 'fire':
            damage = self.level * 1.5
        else:
            damage = self.level * 1.2
        opponent.hp = opponent.hp - damage
        print(f'{self.name}은 {opponent.name}에게 {damage}의 공격을 했다.')

class FirePocketmon(Pocketmon , Firetype):
    def fire_attack(self, opponent):
        damage = self.level * 2
        opponent.hp = opponent.hp - damage
        print(f'{self.name}은 {opponent.name}에게 {damage}의 공격을 했다.')
        
import random
while not koboki.check_hp() or not pairi.check_hp():
    # random_attack = random.randint(0,1)
    koboki.water_attack(pairi)

In [25]:
class Pocketmon():
    def __init__(self, name):
        self.name = name
        self.level = 10
        self.hp = self.level * 5
        self.exp = 0

    def attack(self, opponent):
        damage = self.level    # 레벨만큼 공격
        opponent.hp = opponent.hp - damage 
        if opponent.check_hp():
            self.exp += 5

    def check_hp(self):       # 남은 체력 확인
        return True if self.hp <= 0 else False


class WaterType():
    type_name = 'water'    # type_name이라는 변수 생성

class FireType():
    type_name = 'fire'

class WaterPocketmon(Pocketmon, WaterType):    # Pocketmon 상속
    def water_attack(self, opponent):
        if opponent.type_name == 'fire':
            damage = self.level * 1.5
        else:
            damage = self.level * 1.2
        opponent.hp = opponent.hp - damage
        print(f'{self.name}은 {opponent.name}에게 {damage}의 공격을 했다.')

class FirePocketmon(Pocketmon , FireType):
    def fire_attack(self, opponent):
        damage = self.level * 2
        opponent.hp = opponent.hp - damage
        print(f'{self.name}은 {opponent.name}에게 {damage}의 공격을 했다.')

koboki = WaterPocketmon('꼬부기')
pairi = FirePocketmon('파이리')

import random
while not koboki.check_hp() or not pairi.check_hp():
    # random_attack = random.randint(0,1)
    koboki.water_attack(pairi)

    if pairi.check_hp():
        print(f'{pairi.name} 승리')
        break

    # random.attack = random.randint(0,1)
    pairi.fire_attack(koboki)

    if koboki.check_hp():
        print(f'{koboki.name} 승리')
        break


    print(f'{koboki.name}:{koboki.hp}')
    print(f'{pairi.name}:{pairi.hp}')

꼬부기은 파이리에게 15.0의 공격을 했다.
파이리은 꼬부기에게 20의 공격을 했다.
꼬부기:30
파이리:35.0
꼬부기은 파이리에게 15.0의 공격을 했다.
파이리은 꼬부기에게 20의 공격을 했다.
꼬부기:10
파이리:20.0
꼬부기은 파이리에게 15.0의 공격을 했다.
파이리은 꼬부기에게 20의 공격을 했다.
꼬부기 승리